.cover {
  --root-width: 400px;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  width: var(--root-width);
  font-family: "Source Han Sans SC", source-han-sans-simplified-c;
}
.cover > table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.cover > table td {
  padding: 0;
}
.mask {
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.overlay-container {
  position: relative;
}
.overlay-container > * {
  position: absolute;
}
.overlay-container .icon {
  --width: 32px;
  --height: 32px;
  width: var(--width);
  height: var(--height);
}
.overlay-container .icon * {
  fill: #fafafa;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.fill-vertical {
  height: 100%;
  object-fit: cover;
}
.fill-horizontal {
  width: 100%;
  object-fit: cover;
}
.stretch-horizontal {
  width: 100%;
  object-fit: fill;
}
.stretch-vertical {
  height: 100%;
  object-fit: fill;
}
.blured {
  filter: blur(10px);
}
.locator {
  position: relative;
}
.cover-background {
  opacity: 0.2;
}